  
    <header>
        <nav class="navbar  navbar-expand-lg fixed-top" style="background-color:#F5F5F5;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="logo">
                <a href="{{ path('accueil')}}" title="">
                <img src="{{ asset('images/Ocean-Adventure-logo-small.png') }}" alt=""/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a style="color: #696969;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Surf camps
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Fuerteventura</a>
{#                             {% for surf_camp in surf_camps %}
                                <a class="dropdown-item" href="#">{{ surf_camp.destination | raw }}</a>
                            {% endfor %} #}
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a style="color: #696969;" class="nav-link dark" href="#">Kite</a>  
                    </li>
                    <li class="nav-item active">
                        <a style="color: #696969;" class="nav-link " href="#">Cours</a>
                    </li>
                    <li class="nav-item active">
                        <a style="color: #696969;" class="nav-link " href="#">Groupes</a>
                    </li>
                    <li class="nav-item active">
                        <a style="color: #696969;" class="nav-link " href="{{ path('reserver') }}">Réserver</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: #696969;" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('concept') }}">Concept</a>
                            <a class="dropdown-item" href="{{ path('contact') }}">Contact</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: #696969;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Langues
                        </a>
                        <ul class="navbar-nav">
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr' })) }}">Français</a>
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en' })) }}">Anglais</a>
                                <a class="dropdown-item" href="#">Espagnol</a>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
    </header>
