  
    <header>
        <nav class="navbar  navbar-expand-lg fixed-top navbar-light bg-light" style="background-color:#F5F5F5;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="logo">
                <a href="{{ path('accueil')}}" title="">
                <img src="{{ asset('images/Ocean-Adventure-logo-small.png') }}" alt=""/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a style="color: #696969;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Surf camps
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for surf_camp_fuert in surf_camp_fuerts %}
                            <a class="dropdown-item" href="{{ path('surf_camp_fuert_show', {'id': surf_camp_fuert.id}) }}">Fuerteventura</a>
                            {% endfor %}
                            {% for surf_camp in surf_camps %}
                                <a class="dropdown-item" href="{{ path('surf_camp_show', {'id': surf_camp.id}) }}">{{ surf_camp.destination | raw }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: #696969;" class="nav-link dark" href="#">Kite</a>  
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: #696969;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cours</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="https://oceanadventure.surf/biarritz-pays-basque/coursdesurf-hendaye/">Hendaye</a>
                                <a class="dropdown-item" href="https://oceanadventure.surf/biarritz-pays-basque/coursdesurf-stjeandeluz/">Saint Jean de Luz</a>
                                <a class="dropdown-item" href="https://oceanadventure.surf/biarritz-pays-basque/coursdesurf-bidart/">Bidart</a>
                                <a class="dropdown-item" href="https://oceanadventure.surf/biarritz-pays-basque/ecoledesurf-guethary/">Guéthary</a>
                                <a class="dropdown-item" href="https://oceanadventure.surf/biarritz-pays-basque/coursdesurf/">Biarritz La Cote des Basques</a>
                                <a class="dropdown-item" href="https://oceanadventure.surf/biarritz-pays-basque/coursdesurf-anglet/">Anglet Chambre d'Amour</a>
                                <a class="dropdown-item" href="https://oceanadventure.surf/hossegor/coursdesurf-hossegor/">Hossegor</a>
                                <a class="dropdown-item" href="https://oceanadventure.surf/nazare-portugal-2/coursdesurf-nazare-portugal/">Nazaré, Portugal</a>
                                <a class="dropdown-item" href="https://oceanadventure.surf/fuerteventura-canaries/surfcamp/cours-surf-corralejo/">Corralejo Fuerteventura</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a style="color: #696969;" class="nav-link " href="{{ path('groupe')}}">Groupes</a>
                    </li>
                    <li class="nav-item active">
                        <a style="color: #696969;" class="nav-link " href="{{ path('reserver') }}">Réserver</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: #696969;" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('concept') }}">Concept</a>
                            <a class="dropdown-item" href="{{ path('contact') }}">Contact</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: #696969;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Langue
                        </a>
                        <ul class="navbar-nav">
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr' })) }}"><img src="{{ asset('images/france-flag-3d-icon-16.png') }}" alt="" wdth="100%" height="100%" style="position: right;"/>&nbsp;Français</a>
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en' })) }}"><img src="{{ asset('images/united-kingdom-flag-3d-icon-16.png') }}" alt=""/>&nbsp;Anglais</a>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
    </header>
