{% extends 'structure/base.html.twig' %}

{% block title %}Quelles destinations pour les Vacances Sportives et Séjours Surf en 2019 ?{% endblock %}

{% block body %}
{# <main role="main" class="container"> #}
	<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">	
		<div class"=row">
			<div class="col-md-12" style="background-image: url(images/home_surfing_slider.jpg); background-position: center; background-position: 20% 20%; padding:10px; background-size: cover; background-repeat: no-repeat;">
				{# <br><img src="{{ asset('images/home_surfing_slider.jpg') }}" alt="" class="img-fluid" style="left:0; top:0;max-width: 100%; height: auto; " width="100%"/> #}
				<h2 style="padding-top: 22%; padding-left: 60%; color: white;"><b>Biarritz</b></h2>
				<h2 style="padding-left: 60%; color: white;"><b>Nazarré</b></h2>
				<h2 style="padding-left: 60%; color: white;"><b>Corralejo</b></h2><br>
				<p style="padding-left: 60%; color: white;"><b>PASSEZ VOS VACANCES<br> AVEC NOUS !</b></p>
				<p style="padding-top: 5%; padding-left: 5%; color: white;"><font size="+2">"Nous vous attendons !"</font><img src="{{ asset('images/signature.png') }}" width="15%" style="padding-left: 5%;"/></p>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="background-color: #dfe9e7; background-position:top; background-position:20% 20%; padding:10px; overflow:auto;" >
				<center><h3><b>Quel destination pour votre Surf Camp ?</b></h3><br>
				<div class="col-md-8">
				<p style="border-radius: 10px; border-color:black;">Barre de recherche</p>
				</div></center>
			</div>
			<div class="col-md-8" style="padding-left: 0px;">
				<div class="container-fluid">
					<img src="{{ asset('images/imgCouples.jpg') }}" class="img-fluid" alt="" style="top:0; max-width: 100%; height: auto; " width="100%"/>
				</div>
			</div>
			<div class="col-md-4"><br>
				<div class="container-fluid">
					<br><br>
					<center><img src="{{ asset('images/home_surfing.png') }}" alt="" width="20%"/></center><br>
					<center><h1 style="color: #540f5b;"><b>SOLEIL & VAGUES</b></h1></center><br>
					<center><p style="color: #d8badb"><b>Vous rêvez d'un séjour détente et sport ?</b></p></center>
					<br>
					<center><p style="color: #616161">Il n'existe pas de plus grand plaisir que de surfer et<br>chiller sur la plage en attendant de surfer encore !</p></center><br><br>
					<center><a type="button" class="btn btn-info" href="{{ path('presentation_surfcamps') }}">Voir nos surf camps</a></center><br>
				</div>
			</div>
			<div>
				<br>
			</div>
			<div class="col-md-12">
				<div class="container-fluid">
					<center><h1 style="color: #540f5b;">Voyage Surf: découvrez les Meilleures Destinations Surf de 2019 !</h1></center>
					<center><p style="color: #616161"><font size="-1">Vous vous demandez ou vous allez passer vos vacances surf de 2019 ? Nous avons sélectionné pour vous des surf camps, eco lodge et surf resort qui valent le détour.</font></p></center>
				</div>
			</div>
			<div class="col-md-12">
				<br><br>
			</div>
			<div class="col-md-6">
				<div class="container-fluid">
					<center><font size="-1">
					<h2 style="color: #540f5b;"><b>Pourquoi choisir nos surf camps ?</b></h2>
					<h3 style="color: #64066d">Petits Prix et ambiance surf</h3>
					<p style="color: #616161">Vous y retrouverez l'ambiance surf camp des auberges de jeunesse avec des individus jeunes et des moins jeunes qui passent leur journée à déchirer les vagues. Vous pourrez partager votre passion le soir autour d'un bon barbecue !</p>
					<h3 style="color: #64066d">Confort et intimité </h3>
					<p style="color: #616161">L'ambiance c'est bien mais quand on est en couple, ou en famille, on a besoin de son espace. Des chambres doubles ou des appartements composent nos surf camps.</p>
					<h3 style="color: #64066d">Progresser vraiment en surf</h3>
					<p style="color: #616161">Une formidable expérience dans des lieux et avec des moniteurs de haut vol. Des vrais surfeurs, anciens pro parfois, vous aideront à progresser (vraiment) dans des lieux exceptionnels, que ce soit à la côte des basques, à Biarritz, sur le beach break de la vague géante de Nazaré (Portugal) ou sur les plages de sable blanc de Fuerteventura aux Canaries.</p>
					</font></center>
				</div>
			</div>

			<div class="col-md-6">
				<div class="container-fluid">
					{% for surf_camp in surf_camps %}
						<center><a class="dropdown-item" href="{{ path('surf_camp_show', {'id': surf_camp.id}) }}"><h2 style="color: #540f5b;"><b>{{ surf_camp.destination | raw }}</b></h2><br>
						<img alt="" src="{{ asset('upload/'~surf_camp.image1~'') }}" width="100%" height="15%" style="margin: 0px; padding: 0px;" />
						</a></center><br>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-12">
				<div class="container-fluid">
					{% for surf_camp_fuert in surf_camp_fuerts %}
						<center><a class="dropdown-item" href="{{ path('surf_camp_fuert_show', {'id': surf_camp_fuert.id}) }}"><h2 style="color: #540f5b;"><b>{{ surf_camp_fuert.grandTitre | raw }}</b></h2><br>
						<img alt="" src="{{ asset('images/SCF.jpg') }}" width="100%" height="15%" style="margin: 0px; padding: 0px;" />
						</a></center><br><br>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-6">
				<div class="container-fluid">
					{% for surf_camp in surf_camps %}
						<center><a class="dropdown-item" href="{{ path('surf_camp_show', {'id': surf_camp.id}) }}"><h2 style="color: #540f5b;"><b>{{ surf_camp.destination | raw }}</b></h2><br>
						<img alt="" src="{{ asset('upload/'~surf_camp.image1~'') }}" width="100%" height="15%" style="margin: 0px; padding: 0px;" />
						</a></center><br>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-6">
			</div>
			<div class="col-md-4">
				<div class="container-fluid">
					<center><img src="{{ asset('images/home_surfing.png') }}" alt="" width="20%"/></center><br>
					<center><h2 style="color: #540f5b;"><b>Formules surf camp</b></h2><br>
					<h4 style="color: #64066d">Débutant ou intermédiaire</h4><br>
					<p style="color: #616161">Avec des planches de surf en mousse ou en résine, nous vous ferons progresser. Nous aborderons des vagues de sable douces (à marée basse) pour les débutants, ou un autre type de vague que pour les niveaux intermédiaires et tube riders. </p>
					<br>
					<h4 style="color: #64066d">Adulte et Adolescents</h4>
					<p style="color: #616161">Un surf camp c'est un stage de surf avec hébergement avec tout inclus pour les adolescents, ou avec seulement le stage de surf (cours + transport) et l'hébergement pour les adultes</p><br>
					<a type="button" class="btn btn-info" href="">Formules du Surf Camp</a></center><br>
				</div>
			</div>
			<div class="col-md-8" >
				<div class="container-fluid">
					<img alt="" src="{{ asset('images/planches.jpg') }}" width="100%" height="100%" style="margin: 0px; padding: 0px;" />
				</div>
			</div>
			<div class="col-md-12" style="background-image: url(images/bgHome.jpg); background-position:left top; background-position: 20% 20%; padding:10px; background-size: cover;">
				<div class="container-fluid" style="margin-left: 5%;">
					<br><h1 style="color: #540f5b;">Pourquoi choisir un <br>Surf camp Ocean Adventure ?</h1>
					<p style="color: #616161">Nous sommes de vrais passionés de l'ocean et nos partenaires, nous les avons d'abord <br>rencontrés dans la vagues.</p><br>
					<div class="row">
						<div class="col-md-4">
								<font size="-1"><h3 style="color: #5a0363"><img src="{{ asset('images/etoile.png') }}" width="20%" style="padding-left: 5%;"/>Vous serez un surfeur...</h3>
								<p style="color: #616161; padding-left: 20%;">Pour vos cours de surf, nos moniteurs de surf<br>
								sont diplômés et agréés par la fédération de<br>
								surf de leur pays. Leur méthode pédagogique<br>
								est validée et éprouvée. De plus, les<br>
								responsables sont pour la plupart d'anciens<br>
								pro surfeurs ! Le matériel est très bon et vous<br>
								pouvez être sûr que vous lèverez rapidement<br>
								sur la planche !</p></font>
						</div>
						<div class="col-md-4">
								<font size="-1"><h3 style="color: #5a0363"><img src="{{ asset('images/2pers.png') }}" width="20%" style="padding-left: 5%;"/>... et un waterman !</h3>
								<p style="color: #616161; padding-left: 20%;">Les jours avec trop ou pas assez de vagues, <br>
								nous choisirons avec vous la meilleure option<br>
								pour des activités outdoor : paddle board,<br>
								snorkling, jeux de plage type "sauvetage <br>
								côtier".</p></font>
						</div>
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
								<font size="-1"><h3 style="color: #5a0363"><img src="{{ asset('images/fleche.png') }}" width="20%" style="padding-left: 5%;"/>Vous serez un surfeur...</h3>
								<p style="color: #616161; padding-left: 20%;">Pour vos cours de surf, nos moniteurs de surf<br>
								sont diplômés et agréés par la fédération de<br>
								surf de leur pays. Leur méthode pédagogique<br>
								est validée et éprouvée. De plus, les<br>
								responsables sont pour la plupart d'anciens<br>
								pro surfeurs ! Le matériel est très bon et vous<br>
								pouvez être sûr que vous lèverez rapidement<br>
								sur la planche !</p></font>
						</div>
						<div class="col-md-4">
								<font size="-1"><h3 style="color: #5a0363"><img src="{{ asset('images/coeur.png') }}" width="20%" style="padding-left: 5%;"/>Confortables et Eco Friendly</h3>
								<p style="color: #616161; padding-left: 20%;">Le confort, c'est important, tout comme le <br>
								respect de l'environnement. Nos <br>
								hébergements et notre self service (option<br>
								pension ou demi pension) vont vous donner <br>
								envie d'une vie simple et saine.</p></font>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="background-color: #38eee0;">
				<br><br>
				<h1 style="margin-left: 100px; color: #540f5b;">PASSE TES VACANCES AVEC NOUS&nbsp;&nbsp;&nbsp;<a type="button" style="color: #540f5b;" class="btn btn-light" href="">Je reserve !</a></h1><br>
				<br>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" style="padding:100px;">
						<h2 style="color: #540f5b;"><b>Stage de Stand Up Paddle - SUP ou de Foil à Corralejo,<br> Fuerteventura, îles Canaries</b></h2>
						<p><font size="-1"><b>Le Stand Up paddle est une discipline incontournable aujourd'hui, c'est pourquoi nous proposons aussi des camps sur les destinations suivantes</b></font></p>
						<p style="color: #616161">Eric Terrien, Champion de SUP Local de Corralejo, Fuerteventura</p>
						<center><img src="{{ asset('images/paddle.jpg') }}" alt="" class="img-fluid" style="left:0; top:0; height: auto; " width="45%"/></center>
						<br><p style="position: align; color: #616161"><b><font size="-1">Eric Terrien est certainement le français le plus titré en SUP. Pionnier de la discipline, il vient du windsurf et est, comme beaucoup d'autres (je pense à Kai Lenny) passé au sup puis au foil. Étudiant en sport à la Grande Canaries début 2000, il s'est ensuite installé pendant plus d'une décennie à Corralejo, Fuerteventura où il a pu assouvir sa passion pour le SUP Race. Le climat sub tropical de l'ile lui a permis de s'entrainer toute l'année et d'ainsi intégrer l'équipe de France et la team BIC Sport. Il ramènera de nombreux prix et médailles, en France mais aussi et surtout à l'étranger, du Japon à Hawaï : 2 fois médaille de bronze au championnat du monde 2012 et 2014. Une légende du SUP Race ! Aujourd'hui étudiant chercheur à Nantes, il prépare une thèse sur les bateaux volants, s'adonne au foil, sa discipline favorite et effectue régulièrement des Allers-Retours pour retrouver son cadre idylliques. Plus d'info sur Eric, le Sup et le foil</font></b></p>
						<img src="{{ asset('images/padd1.jpg') }}" alt="" class="img-fluid" style="left:0; top:0; height: auto; margin-left: 60px;" width="27%"/><img src="{{ asset('images/padd2.jpg') }}" alt="" class="img-fluid" style="left:0; top:0; height: auto; margin-left: 60px;" width="27%"/><img src="{{ asset('images/padd3.jpg') }}" alt="" class="img-fluid" style="left:0; top:0; height: auto; margin-left: 60px;" width="27%"/>
					
					</div>
				</div>
			</div>
		</div>
	</div>
{# </main> #}
{% endblock %}