{% extends 'Structure/Base.html.twig' %}

{% block title %}Surfcamp Kitesurf Fuerteventura Corralejo{% endblock %}

{% block body %}
    <main role="main" class="container">
    {% if '_locale' == 'en' %}
    <link rel="alternate" href="http://www.oceanadventure.surf/fr/fuerteventura/" hreflang="fr"/>
    {% else %}
    <link rel="alternate" href="http://www.oceanadventure.surf/en/fuerteventura/" hreflang="en"/>
    {% endif %}
        <div class="mt-5">
            <div>
                <center><h2 class="class-title">Surfcamp & Kitesurf Fuerteventura Corralejo</h2></center>
                    <hr>
                    <div class="container">
                        <center>
                        <p style="center">
                                    <h2>{{ 'body.title1'|trans }}</h2>
                                    <h2>{{ 'body.title2'|trans }}</h2>
                        </p>
                        </center>
                        <p style="center">
                            {{ 'body.text1'|trans }}
                        </p>
                        <center>
                        <h2>{{ 'body.title3'|trans }}</h2>
                        </center>
                    </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset('images/Etirement-du-dos-surfeur-plage-surf-960x610.jpg') }}" alt="" width="500" height="300"/>
                    <br>
                    <h2>{{ 'body.text2'|trans }}</h2>
                    <p>{{ 'body.text3'|trans }}</p>
                    <p style="align"> {{ 'body.text4'|trans }}</p>  
                </div>
                <div class="col-md-6">
                    <h2>{{ 'body.title4'|trans }}</h2>
                    <p>{{ 'body.text5'|trans }}</p>
                    <p>{{ 'body.text6'|trans }}</p>
                    <img src="{{ asset('images/Surf-Camp-Corralejo-Fuerteventura-lobos-island-960x688.jpg') }}" alt="" width="550" height="300"/>
                </div>
            </div>
        </div>
    </main>
{% endblock %}