{% extends 'Structure/base.html.twig' %}

{% block title %}{{ produit.titrePrincipal }}{% endblock %}

{% block body %}
<main role="main" class="container">
    
	<div class="col-md-12">	
        <img src="{{ asset('images/imgConcept.png') }}" alt="" width="100%" height="auto" style="margin: 0px; padding: 0px;"/>
	</div>	
	<br><br>
        <div style="margin-left:10%;" class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <br>
                    {# https://maryamdev.blogspot.com/2017/10/tuto-symfony-3-upload-dune-image-en.html #}
                    <div class="container"><img src="{{ asset('images/'~produit.image~'.png') }}" alt=""/></div><br>               
                </div>

                <div class="col-md-5">
                    <h2><b>
                        {{ produit.titrePrincipal }}
                    </b></h2>
                    <hr width="25%" color="grey" align="left">
                    {{ produit.prix }}<a>€</a><br>
                    <br>{{ produit.conditionReglement }}
                    <div>
                    <br><form>
                        <input id="moins" type="button" class="btn-sm" value="-"/>
                        <input id ="result" type="texte" value="1" maxlength="2" style="width:10%; text-align:center;"/>
                        <input id="plus" type="button" class="btn-sm" value="+"/>
                        &nbsp;&nbsp;<button href="#" class="btn btn-primary">Ajouter au panier</button>
                    </form>
                    </div>
                    <br>
                    <div class="container">
                         <div class="c1" onclick="pchild=this.getElementsByTagName('p'); if(pchild[0].style.visibility!='hidden'){pchild[0].style.visibility='hidden'; pchild[0].style.height='0';}else{pchild[0].style.visibility=''; pchild[0].style.height=''}">Description
                            <p style="border:1px dotted black;">
                                {{ produit.descrition }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <br>&nbsp;<a class="btn btn-outline-secondary btn-sm" href="{{ path('produit_index') }}">Retour à la liste</a>
    &nbsp;&nbsp;<a class="btn btn-outline-warning btn-sm" href="{{ path('produit_edit', {'id': produit.id}) }}">Editer</a>
    <a class="btn btn-danger btn-sm">{{ include('produit/_delete_form.html.twig') }}</a>
</main>

{% endblock %}

{% block javascripts %}
<script>
var res = document.getElementById('result');
result = parseInt(res.value,10);

var plus = document.getElementById('plus');
var moins = document.getElementById('moins');

    // prendre en compte la modification du nombre au clavier
    res.addEventListener('blur', function() {
       result = document.getElementById('result');
			 result = parseInt(result.value,10);
    });
    
    // boutton +
    plus.addEventListener('click', function() {
      if(result >= 0 && result < 99){
       result++;
       document.getElementById('result').value= result;
       }
    });
    
     // boutton -
      moins.addEventListener('click', function() {
      if(result > 0 && result <= 99){
       result--;
       document.getElementById('result').value= result;
       }
    }); 
</script>
{% endblock %}