{% extends 'Structure/base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ produit.Image }}</td>
            </tr>
            <tr>
                <th>Titre_principal</th>
                <td>{{ produit.titrePrincipal }}</td>
            </tr>
            <tr>
                <th>Titre_secondaire</th>
                <td>{{ produit.titreSecondaire }}</td>
            </tr>
            <tr>
                <th>Condition_reglement</th>
                <td>{{ produit.conditionReglement }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Nb_cours</th>
                <td>{{ produit.nbCours }}</td>
            </tr>
            <tr>
                <th>Descrition</th>
                <td>{{ produit.descrition }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ produit.destination }}</td>
            </tr>
            <tr>
                <th>Sport</th>
                <td>{{ produit.sport }}</td>
            </tr>
            <tr>
                <th>Particulier</th>
                <td>{{ produit.particulier ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}">back to list</a>

    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
