{% extends 'Structure/base.html.twig' %}

{% block title %}{{ produit.titrePrincipal }}{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
        <img src="{{ asset('images/imgConcept.png') }}" alt="" width="100%" height="auto" style="margin: 0px; padding: 0px;"/>
		</div>
	</div><br><br>
        <div style="margin-left:10%;" class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <br>
                    {# https://maryamdev.blogspot.com/2017/10/tuto-symfony-3-upload-dune-image-en.html #}
                    <div class="container"><img src="{{ asset('images/{{ produit.image }}.png') }}" alt=""/></div><br>               
                </div>

                <div class="col-md-5">
                    <h2><b>
                        {{ produit.titrePrincipal }}
                    </b></h2>
                    <hr width="25%" color="grey" align="left">
                    {{ produit.prix }}<br>
                    <br>{{ produit.conditionReglement }}
                    <div>
                        <br><button href="#" class="btn btn-primary">Ajouter au panier</button>
                    </div>
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                            Description
                        </button>
                        <div class="dropdown-menu">
                            <p class="dropdown-item">{{ produit.descrition }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br><button class="btn btn-outline-secondary btn-sm" href="{{ path('produit_index') }}">back to list</button>
    <btn class="btn btn-outline-warning btn-sm" href="{{ path('produit_edit', {'id': produit.id}) }}">edit</btn>
    <btn class="btn btn-outline-danger btn-sm">{{ include('produit/_delete_form.html.twig') }}</btn>
{% endblock %}
