{% extends 'structure/base.html.twig' %}

{% block title %}SurfCampFuert index{% endblock %}

{% block body %}
<br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>GrandTitre</th>
                <th>TitreAccroche</th>
                <th>Paragraphe1</th>
            </tr>
        </thead>
        <tbody>
        {% for surf_camp_fuert in surf_camp_fuerts %}
            <tr>
                <td>{{ surf_camp_fuert.id }}</td>
                <td>{{ surf_camp_fuert.grandTitre }}</td>
                <td>{{ surf_camp_fuert.titreAccroche }}</td>
                <td>{{ surf_camp_fuert.paragraphe1 }}</td>
                <td style="width:10%;">
                    <a class="btn btn-secondary btn-sm" href="{{ path('surf_camp_fuert_show', {'id': surf_camp_fuert.id}) }}">
                        <span class="btn-inner--icon"><i class="fas fa-eye"></i></span> 
                    </a>
                    <a class="btn btn-warning btn-sm" href="{{ path('surf_camp_fuert_edit', {'id': surf_camp_fuert.id}) }}">
                        <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                    </a>
                    <a class="btn btn-danger btn-sm" href="{{ path('surf_camp_fuert_delete', {'id': surf_camp_fuert.id}) }}">
                        <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('surf_camp_fuert_new') }}">créer un nouveau</a>
{% endblock %}
