{{ form_start(form) }}
    <p>Destination :</p>
    {{ form_widget(form.destination) }}<br>
    <p>Titre1 (Fr) :</p>
    {{ form_widget(form.titre1) }}<br>
    <input type="button" id="btn1" value="+ Ajouter titre1 (En)" onclick="masquer_div('a_masquer1');" /><br>
    <div id="a_masquer1" style="display: none;">
        <p>Titre1 (En) :</p>
        {{ form_widget(form.titre1En) }}<br>
    </div>
    <br>
    <p>Mini descritption (Fr) :</p>
    {{ form_widget(form.miniDescription) }}<br>
    <input type="button" id="btn2" value="+ Ajouter Mini description (En)" onclick="masquer_div('a_masquer2');" /><br>
    <div id="a_masquer2" style="display: none;">
    <p>Mini description (En) :</p>
    {{ form_widget(form.miniDescriptionEn) }}<br>
    </div>
    <br>
    <p>Image1 :</p>
    {{ form_widget(form.image1) }}<br>
    <p>Galerie :</p>
    {{ form_widget(form.galerie) }}<br>
    <p>Image2 :</p>
    {{ form_widget(form.image2) }}<br>
    <p>Sous-titre2 (Fr) :</p>
    {{ form_widget(form.sstitre2) }}<br>
    <input type="button" id="btn3" value="+ Ajouter Sous-titre2 (En)" onclick="masquer_div('a_masquer3');" /><br>
    <div id="a_masquer3" style="display: none;">
    <p>Sous-titre2 (En) :</p>
    {{ form_widget(form.sstitre2En) }}<br>
    </div>
    <br>
    <p>Sous-text2 (Fr) :</p>
    {{ form_widget(form.sstext2) }}<br>
    <input type="button" id="btn4" value="+ Ajouter Sous-text2 (En)" onclick="masquer_div('a_masquer4');" /><br>
    <div id="a_masquer4" style="display: none;">
    <p>Sous-text2 (En) :</p>
    {{ form_widget(form.sstext2En) }}<br>
    </div>
    <br>
    <p>Image3 :</p>
    {{ form_widget(form.image3) }}<br>
    <p>Sous-titre3 (Fr) :</p>
    {{ form_widget(form.sstitre3) }}<br>
    <input type="button" id="btn5" value="+ Ajouter Sous-titre3 (En)" onclick="masquer_div('a_masquer5');" /><br>
    <div id="a_masquer5" style="display: none;">
    <p>Sous-titre3 (En) :</p>
    {{ form_widget(form.sstitre3En) }}<br>
    </div>
    <br>
    <p>Sous-text3 (fr) :</p>
    {{ form_widget(form.sstext3) }}<br>
    <input type="button" id="btn6" value="+ Ajouter Sous-text3 (En)" onclick="masquer_div('a_masquer6');" /><br>
    <div id="a_masquer6" style="display: none;">
    <p>Sous-text3 (En) :</p>
    {{ form_widget(form.sstext3En) }}<br>
    </div>
    <br>
    <p>Galerie2 :</p>
    {{ form_widget(form.galerie2) }}<br>
    <p>Prestation (Fr) :</p>
    {{ form_widget(form.prestation) }}<br>
    <input type="button" id="btn7" value="+ Ajouter Prestation (En)" onclick="masquer_div('a_masquer7');" /><br>
    <div id="a_masquer7" style="display: none;">
    <p>Prestation (En) :</p>
    {{ form_widget(form.prestationEn) }}<br>
    </div>
    <br>
    <p>Enumeration (Fr) :</p>
    {{ form_widget(form.enumeration) }}<br>
    <input type="button" id="btn8" value="+ Ajouter Enumeration (En)" onclick="masquer_div('a_masquer8');" /><br>
    <div id="a_masquer8" style="display: none;">
    <p>Enumeration (En) :</p>
    {{ form_widget(form.enumerationEn) }}<br>
    </div>
    <br>
    <p>Guide Pratique / Destination (Fr) :</p>
    {{ form_widget(form.guidePratiqueDestination) }}<br>
    <input type="button" id="btn9" value="+ Ajouter Guide Pratique / Destination (En)" onclick="masquer_div('a_masquer9');" /><br>
    <div id="a_masquer9" style="display: none;">
    <p>Guide Pratique / Destination (En) :</p>
    {{ form_widget(form.guidePratiqueDestinationEn) }}<br>
    </div>
    <br>
    <p>Text-info (Fr) :</p>
    {{ form_widget(form.texteInfo) }}<br>
    <input type="button" id="btn10" value="+ Ajouter Text-info (En)" onclick="masquer_div('a_masquer10');" /><br>
    <div id="a_masquer10" style="display: none;">
    <p>Text-info (En) :</p>
    {{ form_widget(form.texteInfoEn) }}<br>
    </div>
    <br>
    <p>Lien Google map :</p>
    {{ form_widget(form.googleMap) }}<br>
    <p>Tarif :</p>
    {{ form_widget(form.tarif) }}<br>
    <p>Hors saison text (Fr) :</p>
    {{ form_widget(form.horsSaisonText) }}<br>
    <input type="button" id="btn11" value="+ Ajouter Hors saison text (En)" onclick="masquer_div('a_masquer11');" /><br>
    <div id="a_masquer11" style="display: none;">
    <p>Hors saison text (En) :</p>
    {{ form_widget(form.horsSaisonTextEn) }}<br>
    </div>
    <br>
    <p>Saison text (Fr) :</p>
    {{ form_widget(form.saisonText) }}<br>
    <input type="button" id="btn12" value="+ Ajouter Saison text (En)" onclick="masquer_div('a_masquer12');" /><br>
    <div id="a_masquer12" style="display: none;">
    <p>Saison text (En) :</p>
    {{ form_widget(form.saisonTextEn) }}<br>
    </div>
    <br>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script>
function masquer_div(id)
{
  if (document.getElementById(id).style.display == 'block')
  {
       document.getElementById(id).style.display = 'none';
  }
  else 
  {
       document.getElementById(id).style.display = 'block';
  }
}
</script>