{% extends 'structure/base.html.twig' %}

{% block title %}Liste des Surf Camps{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9 col-lg-9 col-xs-12">
                    <h2 class="class-title">Liste des Surf Camps</h2>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('admin') }}" class="btn btn-outline-primary btn-sm">Retour</a>
                    <a href="{{ path('surf_camp_new') }}" class="btn btn-outline-primary btn-sm">Ajouter un nouveau Surf Camps</a>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Langue</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Tarif</th>
                                <th scope="col">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for surf_camp in surf_camps %}
                                <tr>
                                    <td>{{ surf_camp.id }}</td>
                                    <td>{{ surf_camp.locale }}</td>
                                    <td>{{ surf_camp.destination | raw }}</td>
                                    <td>{{ surf_camp.tarif }}</td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm" href="{{ path('surf_camp_show', {'id': surf_camp.id}) }}">
                                            <span class="btn-inner--icon"><i class="fas fa-eye"></i></span> 
                                        </a>
                                        <a class="btn btn-warning btn-sm" href="{{ path('surf_camp_edit', {'id': surf_camp.id}) }}">
                                            <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                                        </a>
                                        <a class="btn btn-success btn-sm" href="{{ path('surf_camp_duplicate', {'id': surf_camp.id}) }}">
                                            <span class="btn-inner--icon"><i class="fas fa-copy"></i></span> 
                                        </a>
                                        <a class="btn btn-danger btn-sm">{{ include('surf_camp/_delete_form.html.twig') }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
