{{ form_start(form) }}
    <p>situation :</p>
    {{ form_widget(form.situation) }}<br>
    <p>Grand titre (Fr) :</p>
    {{ form_widget(form.grandTitre) }}<br>
    <input type="button" id="btn1" value="+ Ajouter Grand titre (En)" onclick="masquer_div('a_masquer1');" /><br>
    <div id="a_masquer1" style="display: none;">
        <p>Grand titre (En) :</p>
        {{ form_widget(form.grandTitreEn) }}<br>
    </div><br>
    <input type="button" id="btn5" value="+ Ajouter Grand titre (Es)" onclick="masquer_div('a_masquer5');" /><br>
    <div id="a_masquer5" style="display: none;">
        <p>Grand titre (Es) :</p>
        {{ form_widget(form.grandTitreEs) }}<br>
    </div><br>
    <input type="button" id="btn6" value="+ Ajouter Grand titre (It)" onclick="masquer_div('a_masquer6');" /><br>
    <div id="a_masquer6" style="display: none;">
        <p>Grand titre (It) :</p>
        {{ form_widget(form.grandTitreIt) }}<br>
    </div>
    <br>
    <p>Description sous-titre (Fr) :</p>
    {{ form_widget(form.descriptionSsTitre) }}<br>
    <input type="button" id="btn2" value="+ Ajouter Description sous-titre (En)" onclick="masquer_div('a_masquer2');" /><br>
    <div id="a_masquer2" style="display: none;">
        <p>Description sous-titre (En) :</p>
        {{ form_widget(form.descriptionSsTitreEn) }}<br>
    </div><br>
    <input type="button" id="btn7" value="+ Ajouter Description sous-titre (Es)" onclick="masquer_div('a_masquer7');" /><br>
    <div id="a_masquer7" style="display: none;">
        <p>Description sous-titre (Es) :</p>
        {{ form_widget(form.descriptionSsTitreEs) }}<br>
    </div><br>
    <input type="button" id="btn8" value="+ Ajouter Description sous-titre (It)" onclick="masquer_div('a_masquer8');" /><br>
    <div id="a_masquer8" style="display: none;">
        <p>Description sous-titre (It) :</p>
        {{ form_widget(form.descriptionSsTitreIt) }}<br>
    </div>
    <br>
    <p>image1 :</p>
    {{ form_widget(form.image1) }}<br>
    <p>Type de chambre (Fr) :</p>
    {{ form_widget(form.typeDeChambre) }}<br>
    <input type="button" id="btn3" value="+ Ajouter Type de chambre (En)" onclick="masquer_div('a_masquer3');" /><br>
    <div id="a_masquer3" style="display: none;">
        <p>Type de chambre (En) :</p>
        {{ form_widget(form.typeDeChambreEn) }}<br>
    </div><br>
    <input type="button" id="btn9" value="+ Ajouter Type de chambre (Es)" onclick="masquer_div('a_masquer9');" /><br>
    <div id="a_masquer9" style="display: none;">
        <p>Type de chambre (Es) :</p>
        {{ form_widget(form.typeDeChambreEs) }}<br>
    </div><br>
    <input type="button" id="btn10" value="+ Ajouter Type de chambre (It)" onclick="masquer_div('a_masquer10');" /><br>
    <div id="a_masquer10" style="display: none;">
        <p>Type de chambre (It) :</p>
        {{ form_widget(form.typeDeChambreIt) }}<br>
    </div>
    <br>
    <p>Sous-text (Fr) :</p>
    {{ form_widget(form.ssText) }}<br>
    <input type="button" id="btn4" value="+ Ajouter Sous-text (En)" onclick="masquer_div('a_masquer4');" /><br>
    <div id="a_masquer4" style="display: none;">
        <p>Sous-text (En) :</p>
        {{ form_widget(form.ssTextEn) }}<br>
    </div><br>
    <input type="button" id="btn11" value="+ Ajouter Sous-text (Es)" onclick="masquer_div('a_masquer11');" /><br>
    <div id="a_masquer11" style="display: none;">
        <p>Sous-text (Es) :</p>
        {{ form_widget(form.ssTextEs) }}<br>
    </div><br>
    <input type="button" id="btn12" value="+ Ajouter Sous-text (It)" onclick="masquer_div('a_masquer12');" /><br>
    <div id="a_masquer12" style="display: none;">
        <p>Sous-text (It) :</p>
        {{ form_widget(form.ssTextIt) }}<br>
    </div>
    <br>
    <p>Galerie :</p>
    {{ form_widget(form.galerie) }}<br>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script>
function masquer_div(id)
{
  if (document.getElementById(id).style.display == 'block')
  {
       document.getElementById(id).style.display = 'none';
  }
  else 
  {
       document.getElementById(id).style.display = 'block';
  }
}
</script>