{% extends 'structure/base.html.twig' %}

{% block title %}Hebergement{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9 col-lg-9 col-xs-12">
                    <h2 class="class-title">Liste des Hebergements</h2>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('admin') }}" class="btn btn-outline-primary btn-sm">Retour</a>
                    <a href="{{ path('hebergement_new') }}" class="btn btn-outline-primary btn-sm">Ajouter un Hebergement</a>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Situation</th>
                                <th scope="col">Image1</th>
                                <th scope="col">TypeDeChambre</th>
                                <th scope="col">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hebergement in hebergements %}
                                <tr>
                                    <td>{{ hebergement.id }}</td>
                                    <td>{{ hebergement.situation }}</td>
                                    <td style="width:30%;"><img alt="" src="{{ asset('upload/'~hebergement.image1~'') }}" width="40%" height="10%" style="margin: 0px; padding: 0px;"/></td>
                                    <td>{{ hebergement.typeDeChambre | raw }}</td>
                                    <td style="width:20%;">
                                        <a class="btn btn-secondary btn-sm" href="{{ path('hebergement_show', {'id': hebergement.id}) }}">
                                            <span class="btn-inner--icon"><i class="fas fa-eye"></i></span> 
                                        </a>
                                        <a class="btn btn-warning btn-sm" href="{{ path('hebergement_edit', {'id': hebergement.id}) }}">
                                            <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="{{ path('hebergement_delete', {'id': hebergement.id}) }}">
                                            <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9">Aucun hébergement</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
